<div class="container-fluid limit_container">

  <div class="page-title-box">
    <div class="page-title-right">
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item">
          <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="<%= back_url %>"><%= nme_modulo %></a>
        </li>
        <li class="breadcrumb-item active">Novo <%= nme_modulo %></li>
      </ol>
    </div>
    <h2 class="page-title">Cadastros</h2>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-body">
          <div class="row head-row">
            <h4 class="header-title">Novo <%= nme_modulo %></h4>
          </div>
          <%= render 'form', data: data, back_url: back_url %>
        </div>
      </div>
    </div>
  </div>

</div>
