<div class="card shadow">
  <div class="card-body">
    <div class="row head-row">
      <h4 class="header-title">Tipos de Medicamento</h4>
      <%= link_to 'Novo', new_register_financeiro_medication_type_path, class:"header-title btn btn-success" %>
    </div>

    <div class="table-responsive-sm">
      <table class="table table-striped table-centered mb-0">
        <thead>
          <tr>
            <th>Tipo de Medicamento</th>
            <th>Descrição</th>
            <th>Observaçōes</th>
            <th>Açōes</th>
          </tr>
        </thead>
        <tbody>
          <% @register_financeiro_medication_types.each do |register_financeiro_medication_type| %>
            <tr>
              <td><%= register_financeiro_medication_type.nme_medication %></td>
              <td><%= register_financeiro_medication_type.description %></td>
              <td><%= register_financeiro_medication_type.obs %></td>
              <td class="table-action">
                <% link_to register_financeiro_medication_type, class:"action-icon" do %>
                  <i class="mdi mdi-eye-circle-outline"></i>
                <% end %>

                <%= link_to edit_register_financeiro_medication_type_path(register_financeiro_medication_type), class:"action-icon" do %>
                  <i class="mdi mdi-pencil"></i>
                <% end %>

                <%= link_to register_financeiro_medication_type, class:"action-icon", method: :delete do %>
                  <i class="mdi mdi-delete"></i>
                <% end %>

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
