<%= form_with(model: data, local: true, multipart: true) do |form| %>

  <%= render "/layouts/layouts/message_error", obj: data  %>

  <div class="form-group">
    <%= form.label Register::AnimalType.human_attribute_name(:nme_animal) %>
    <%= form.text_field :nme_animal, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label Register::AnimalType.human_attribute_name(:obs) %>
    <%= form.text_area :obs, class:"form-control" %>
  </div>

  <div class="form-group" style="max-width:300px;">
    <%= form.label Register::AnimalType.human_attribute_name(:image) %>
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" readonly="readonly">
        <div class="input-group-btn">
          <span class="fileUpload btn btn-success">
            <span class="upl" id="upload">Salvar Arquivo</span>
            <%= form.file_field :image, class:"upload up", id:"up", onchange:"readURL(this);" %>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
      <div class="avatar-upload">
          <div class="avatar-edit">
              <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
              <label for="imageUpload"></label>
          </div>
          <div class="avatar-preview">
              <div id="imagePreview" style="background-image: url(<%= asset_path 'user_default.png'%>);">
              </div>
          </div>
      </div>
  </div>

  <div class="actions row btn-row">
    <%= link_to 'Cancelar', back_url, class:"btn btn-secondary" if back_url.present? %>
    <%= form.submit "Salvar", class:"btn btn-success ml"  %>
  </div>
<% end %>
