<p id="notice"><%= notice %></p>

<p>
  <strong>Nme food:</strong>
  <%= @register_financeiro_food_type.nme_food %>
</p>

<p>
  <strong>Description:</strong>
  <%= @register_financeiro_food_type.description %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @register_financeiro_food_type.obs %>
</p>

<%= link_to 'Edit', edit_register_financeiro_food_type_path(@register_financeiro_food_type) %> |
<%= link_to 'Back', register_financeiro_food_types_path %>
