<div id="detached-topbar-placeholder"></div>

<div class="wrapper">
  <div class="content-page">
    <div class="content">

      <div id="vertical-topbar-placeholder"></div>
      <div id="horizontal-topbar-placeholder"></div>

      <div class="container-fluid mt-5">
        <div class="row">
          <div class="col-md-12 col-xl-3">
            <img src="<%= asset_path 'macaco_2.svg' %>" style="margin-left: -19vh;margin-top: -14vh;">
          </div>


          <div class="row col-md-12 col-xl-5 mlr">
            <div class="col-12 row" >
              <a href="/dashboards/exercios"  class="mlr">
                <img src="<%= asset_path 'circul.svg' %>">
                <label class="mlr" style="display: block;text-align: center;font-size: 27px;color: #000;">
                  Introdução
                </label>
              </a>
            </div>

            <div class="col-4" >
              <a href="/dashboards/exercios"  class="mlr">
                <img src="<%= asset_path 'circul.svg' %>">
                <label class="mlr" style="display: block;text-align: center;font-size: 27px;color: #000;">
                  Saudação
                </label>
              </a>
            </div>

            <div class="col-4" >
              <a href="/dashboards/exercios"  class="mlr">
                <img src="<%= asset_path 'circul.svg' %>">
                <label class="mlr" style="display: block;text-align: center;font-size: 27px;color: #000;">
                  Familia
                </label>
              </a>
            </div>

            <div class="col-4" >
              <a href="/dashboards/exercios"  class="mlr">
                <img src="<%= asset_path 'circul.svg' %>">
                <label class="mlr" style="display: block;text-align: center;font-size: 27px;color: #000;">
                  Alimentos
                </label>
              </a>
            </div>

            <div class="col-4" >
              <a href="/dashboards/exercios"  class="mlr">
                <img src="<%= asset_path 'circul.svg' %>">
                <label class="mlr" style="display: block;text-align: center;font-size: 27px;color: #000;">
                  Escola
                </label>
              </a>
            </div>

            <div class="col-4" >
              <a href="/dashboards/exercios"  class="mlr">
                <img src="<%= asset_path 'circul.svg' %>">
                <label class="mlr" style="display: block;text-align: center;font-size: 27px;color: #000;">
                  Emoçōes
                </label>
              </a>
            </div>

            <div class="col-4" >
              <a href="/dashboards/exercios"  class="mlr">
                <img src="<%= asset_path 'circul.svg' %>">
                <label class="mlr" style="display: block;text-align: center;font-size: 27px;color: #000;">
                  Animais
                </label>
              </a>
            </div>

            <div class="col-4" >
              <a href="/dashboards/exercios"  class="mlr">
                <img src="<%= asset_path 'circul.svg' %>">
                <label class="mlr" style="display: block;text-align: center;font-size: 27px;color: #000;">
                  Direção
                </label>
              </a>
            </div>

            <div class="col-4" >
              <a href="/dashboards/exercios"  class="mlr">
                <img src="<%= asset_path 'circul.svg' %>">
                <label class="mlr" style="display: block;text-align: center;font-size: 27px;color: #000;">
                  Clima
                </label>
              </a>
            </div>

            <div class="col-4" >
              <a href="/dashboards/exercios"  class="mlr">
                <img src="<%= asset_path 'circul.svg' %>">
                <label class="mlr" style="display: block;text-align: center;font-size: 27px;color: #000;">
                  Saude
                </label>
              </a>
            </div>


          </div>

          <div class="col-md-12 col-xl-4">
            <div class="card">
              <div class="card-body">
                <div class="dropdown float-right">
                  <a href="/dashboards/exercios" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="mdi mdi-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">

                    <a href="javascript:void(0);" class="dropdown-item">Today</a>

                    <a href="javascript:void(0);" class="dropdown-item">Yesterday</a>

                    <a href="javascript:void(0);" class="dropdown-item">Last Week</a>

                    <a href="javascript:void(0);" class="dropdown-item">Last Month</a>
                  </div>
                </div>

                <div style="text-align: center;">
                  <h4 class="header-title mb-1">Progresso</h4>
                </div>

                <div class="col-12 row">
                  <img src="<%= asset_path 'tesouro.svg' %>">
                  <img src="<%= asset_path 'progresso.svg' %>" class="ml-2">
                </div>

                <div id="dash-campaigns-chart" class="apex-charts"></div>

                <div class="row text-center mt-2">
                  <div class="col-md-4">
                    <i class="mdi mdi-send widget-icon rounded-circle bg-light-lighten text-muted"></i>
                    <h3 class="font-weight-normal mt-3">
                      <span>65</span>
                    </h3>
                    <p class="text-muted mb-0 mb-2">
                      <i class="mdi mdi-checkbox-blank-circle text-warning"></i>
                      Total Liçōes</p>
                  </div>
                  <div class="col-md-4">
                    <i class="mdi mdi-flag-variant widget-icon rounded-circle bg-light-lighten text-muted"></i>
                    <h3 class="font-weight-normal mt-3">
                      <span>34</span>
                    </h3>
                    <p class="text-muted mb-0 mb-2">
                      <i class="mdi mdi-checkbox-blank-circle text-primary"></i>
                      Acertos</p>
                  </div>
                  <div class="col-md-4">
                    <i class="mdi mdi-email-open widget-icon rounded-circle bg-light-lighten text-muted"></i>
                    <h3 class="font-weight-normal mt-3">
                      <span>15</span>
                    </h3>
                    <p class="text-muted mb-0 mb-2">
                      <i class="mdi mdi-checkbox-blank-circle text-success"></i>
                      Mesangens</p>
                  </div>
                </div>

              </div>

            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<%= javascript_pack_tag 'dashboard.js' %>
